*{
    font-family: Arial, Helvetica, sans-serif;
    color: #d5896f;
    background-color: #0d1118;
}

/*
Test Color Palette 1 - blues/teals to neutral
Considering adding black and grey

fefcfb - whiteesque
1282a2 - teal
034078 - navy blue
001f54 - midnight blue
0a1128 - dark blue

Test Color Palette 2 - Neutral tones
Consider and accect with color and black

f1f0ea - greyish white
534b52 - bold grey
e0ddcf - blueish eggshell
2d232e - aubergine - grey
474448 - dark grey

Test Color Palette 3 - Bold blue to Salmon
Consider adding black and white

031d44 - dark midnight blue
04395e - greenish navy blue
70a288 - minty green teal
dab785 - shady dull orange-yellow
d5896f -  muted salmon


https://coolors.co/palettes/trending
*/
