.page-styles {
    font-family: Arial, Helvetica, sans-serif;
    color: #70a288;
    background-color: whitesmoke;
    padding: 20px;
}

.divider {
    display: block;
}

.header-section {
    background-image: url("assets/header/northern-lights.jpg");
    min-height: 100px;
    padding: 40px;

}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

.nina-pic {
    width: 198px;
    height: 264px;
}

.about,
.nav-tabs {
    display: flex;
    flex-direction: row;
}

.about {
    padding: 20px;
    margin: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 2;
    color: black;
    margin: 0;
}

.nav-tabs {
    justify-content: flex-end;
    list-style-type: none;
    font-size: 1.5rem;
}

.image-text {
    background: rgba(0, 0, 0, .8);
    font-weight: bold;
    padding: 20px;
}

@media screen and (max-width: 999px) {
    .about,
    .nav-tabs {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin-left: auto;
    }
    .image-text {
        text-align: center;
        font-weight: bold;
        padding: 10px;

    }
    .header-section {
        padding: 10px;
    }
    .nina-pic {
        width: 50%;
        height: 50%;
        margin-left: 70px;
       
    }
    
}

@media screen and (max-width: 400px) {
    .image-text {
        border: 10px;

    }
}