.page-styles {
    font-family: Arial, Helvetica, sans-serif;
    color: #70a288;
    background-color: #000000;
    padding: 20px;
}

.header-section {
    background-image: url("assets/header/starbirth.jpg");
    min-height: 100px;
    padding: 40px;
    opacity: .9;
}

h1 {
    font-size: 2.5rem;
}

.nina-pic {
    min-width: 150px;
}

.about,
.nav-tabs {
    display: flex;
    flex-direction: row;
}

.about {
    padding: 20px;
    margin: 20px;
    color: #70a288c4;
}

p {
    line-height: 2;
}

.nav-tabs {
    justify-content: flex-end;
    list-style-type: none;
    font-size: 1.5rem;
}

.image-text {
    background: rgba(0, 0, 0, .8);
    font-weight: bold;
    padding: 20px;
}

@media screen and (max-width: 999px) {
    .about,
    .nav-tabs {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .image-text {
        background: rgba(56, 55, 55, 0.507);
        font-weight: bold;
        padding: 10px;
    }
    .header-section {
        background-image: none;
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {
    .image-text {
        border: 10px;
        line-height: 3;
    }
}